#### 1. Create a series

- named fruits with data apple banana cherry date and assign index a b c d 
- print
- print index

In [1]:
import pandas as pd

In [27]:
fruits=pd.Series(["apple", "banana", "cherry","date"], index=["a","b","c","d"])
print(fruits)
print(fruits.index)

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')

#### 2. Acessing Elements
- print the second element of fruits series

In [28]:
print(fruits["b"])

banana

#### 3. Series operations
- create series with squares of 1-5
- add 10 to each item

In [29]:
sq=pd.Series([1,4,9,16,25])
sq+=10
print(sq)

0    11
1    14
2    19
3    26
4    35
dtype: int64

#### 1. Create a dataframe
- named students with columns name age and grade
- populayte with data for 3 ficitonal students

In [30]:
students=pd.DataFrame({"Name": ["John", "Jonah","Jack"], "Age": [12,15,14], "Grade":["B","C","A"]})
students

    Name  Age Grade
0   John   12     B
1  Jonah   15     C
2   Jack   14     A

#### 2. Access Data: Print name column

In [31]:
print(students["Name"])

0     John
1    Jonah
2     Jack
Name: Name, dtype: object

#### 3. Operations
- add new column "Graduated" (Boolean)
- print

In [32]:
students["Graduated"]= students["Grade"]=="A"
print(students)

    Name  Age Grade  Graduated
0   John   12     B      False
1  Jonah   15     C      False
2   Jack   14     A       True

#### 4. Maths: Calculate and print average age of students

In [33]:
print(students["Age"].mean())

13.666666666666666

#### 5. Sorting: Sort stydents based on age and print

In [34]:
print(students.sort_values(by="Age", ascending=False))

    Name  Age Grade  Graduated
1  Jonah   15     C      False
2   Jack   14     A       True
0   John   12     B      False

#### 6. Tidy Data
- remake health data 
- compute mean and std of all variables
- compute mean and SE for happiness variable

In [35]:
cognitive_health_1=pd.Series( {'happyness':10,
                    'language': 2, 
                    'energy': 5, 
                    'memory': 3})
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject3_dict = {'happyness': 15+3,
                                  'language': 4+3, 
                                  'energy': 9+3, 
                                  'memory': 6+3}
cognitive_health_subject3_series = pd.Series(cognitive_health_subject3_dict)
cognitive_health_subject4_dict = {'happyness': 15-2,
                                  'language': 4-2, 
                                  'energy': 9-2, 
                                  'memory': 6-2}
cognitive_health_subject4_series = pd.Series(cognitive_health_subject4_dict)
cognitive_health=pd.concat([cognitive_health_1, cognitive_health_subject2_series, cognitive_health_subject3_series, cognitive_health_subject4_series], axis=1)
cognitive_health=cognitive_health.T
cognitive_health.reset_index(drop=True, inplace=True)
cognitive_health

   happyness  language  energy  memory
0         10         2       5       3
1         15         4       9       6
2         18         7      12       9
3         13         2       7       4

In [36]:
summary=cognitive_health.describe()
summary.loc[["mean","std"]]

      happyness  language    energy    memory
mean  14.000000  3.750000  8.250000  5.500000
std    3.366502  2.362908  2.986079  2.645751

In [37]:
print("Standard Error of Happyness:", cognitive_health["happyness"].std()/(cognitive_health["happyness"].count())**(1/2))

Standard Error of Happyness: 1.6832508230603465